$h1Background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);
$underlineBackground: linear-gradient(
  45deg,
  #667eea,
  #764ba2,
  rgb(109, 28, 98)
);

@mixin flexing($row, $justify) {
  display: flex;
  flex-direction: $row;
  align-items: center;
  justify-content: $justify;
}

#courses {
  width: 100%;
  place-items: center;
  margin-top: 10%;
  #coursesHeader {
    @include flexing(column, center);
    h1 {
      background: $h1Background;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 3rem;
      text-align: center;
    }
    #underline {
      height: 0.2rem;
      background: $underlineBackground;
      margin-top: 1rem;
    }
  }

  #coursesDiv {
    @include flexing(row, start);
    margin-top: 4rem;
    margin-left: 4px;
    margin-right: 4px;
    gap: 2rem;
    padding: 1.5rem clamp(2rem,3vw,6.5rem);
    border-radius: 15px;
    background: #0a0e22dc;
    border: 1px solid rgba(128, 128, 128, 0.171);
    width: fit-content;
    transition:
      filter 0.5s ease-out,
      box-shadow 0.5s ease;
    &:hover {
      filter: brightness(1.3);
      box-shadow: 0 0 15px rgba(102, 126, 234, 0.301);
    }
    &:hover #coursesImgDiv {
      transform: rotate(20deg);
      filter: brightness(1.3);
    }
    #coursesImgDiv {
      width: fit-content;
      padding: 1rem;
      background: linear-gradient(
        135deg,
        rgba(102, 126, 234, 0.2) 0%,
        rgba(118, 75, 162, 0.2) 100%
      );
      color: #667eea;
      border-radius: 20px;
      transition:
        transform 0.5s ease,
        filter 0.5s ease;
      img {
        aspect-ratio: 1/1;
        width: 3rem;
        @media screen and (max-width: 425px) {
          width: 2rem;
        }
      }
    }
    #coursesInfoDiv {
      @include flexing(column, start);
      gap: 1rem;
      #seminar {
        color: white;
        font-size: clamp(1.1rem,2vw,1.5rem);
        font-weight: 700;
      }

      #viewClarification {
        @include flexing(row, start);
        width: 100%;
        a {
          background: rgba(102, 126, 234, 0.15);
          border: 1px solid #a5b4fc98;
          border-radius: 20px;
          color: #a5b4fc;
          font-size: clamp(0.8rem, 3vw, 1rem);
          font-weight: 500;
          padding: 0.5rem clamp(0.7rem,3vw,1rem);
          display: flex;
          img {
            width: 1.1rem;
            aspect-ratio: 1/1;
            margin-left: 0.4rem;
          }
        }
      }
    }
  }
}
