footer {
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  gap: 2rem;
  #line {
    width: 90%;
    background-color: rgba(128, 128, 128, 0.26);
    height: 1px;
  }
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    text-align: center;
    @media screen and (max-width: 330px) {
    flex-direction: column;
      
    }
    img {
      aspect-ratio: 1/1;
      width: 1.2rem;
    }
  }
}
