@function rand() {
  @return percentage(random(100) / 100);
}



@for $i from 1 through 10 {
  .orb#{$i} {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 50%;
    z-index: -1;

    $sx: rand();
    $sy: rand();
    $ex: rand();
    $ey: rand();

    top: $ex;
    left: $ey;

    top: $sy;
    left: $sx;
    animation: orb-#{$i} #{2 + $i * 2}s ease-in-out infinite alternate;

    @keyframes orb-#{$i} {
      from { top: $sy; left: $sx;  box-shadow: 0 0 20px 2px white;}
      to   { top: $ey; left: $ex;  box-shadow: 0 0 50px 2px white; }
    }
  }
}

