$primary-color: #0a0a0f;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}
#root {
  width: 100%;
  &::before,
  &::after {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
  }
  &::before{
     background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 2px,
      transparent 3px,
      transparent 150px,
    );
    background-size: 300%;
    animation: beamShift 170s linear infinite alternate;
  }
  &::after {
    background:  
    repeating-linear-gradient(
      135deg,
      rgba(0, 138, 255, 0.18) 40px,
      rgba(0, 238, 255, 0.18) 42px,
      rgba(0, 138, 255, 0.18) 42px,
      transparent 3px,
      transparent 180px
    ); 
    will-change: filter;  
    animation: beam 20s linear infinite;
  }
  @keyframes beamShift {
    0%{background-position: left bottom; }
    100%{background-position: right top;}
  }
  @keyframes beam {
  0% {
    filter: brightness(1) hue-rotate(0deg);
  }
  30% {
    filter: brightness(2.5) hue-rotate(30deg);
  }
  60% {
    filter: brightness(1.2) hue-rotate(90deg);
  }
  100% {
    filter: brightness(1) hue-rotate(0deg);
  }
}
}

body {
  display: flex;
  background: $primary-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  a {
    text-decoration: none;
  }
  
}

